# mengabaikan virtual environtment
.venv/
.coverage/

# Abaikan file atau folder lain yang tidak perlu ditrack Git
__pycache__/
*.pyc
.DS_Store
*.log

# Ignore credential file
sentiment-analysis-456613-7a6e0a6a71ad.json